/* .flex { */
/*      -webkit-box-flex: 1; */
/*      -ms-flex: 1 1 auto; */
/*      flex: 1 1 auto */
/*  } */

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

/*  .container { */
/*      margin-top: 100px */
/*  } */

 .pagination {
     display: flex;
     padding-left: 0;
     list-style: none;
     border-radius: 0.25rem
 }

 .pagination.pagination-rounded-flat .page-item {
     margin: 0 .1rem
 }

 .pagination-success .page-item.active .page-link {
     background: #F2C6C2;
     border-color: #F2C6C2;
 }

 .pagination.pagination-rounded-flat .page-item .page-link {
     border: none;
     border-radius: 50px;
     font-family: 'GmarketSans-normal';
 }
 
 a.page-link:focus {
   	box-shadow: none !important;
   	 background: #F2C6C2;
     border-color: #F2C6C2;
     color:#fff;
}

a.page-link:focus > span{
	color:#fff;
}

a.page-link {
    color: #303E8C;
    font-weight: 400;
}

a.page-link > span {
	color: #303E8C;
}

a.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #3339A6;
    border-color: #3339A6;
}

a.page-link:hover > span {
	color:#fff;
}

li.page-item {
    transform: scale(.8);
    font-size: 14px;
}