@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
	    display: -webkit-box !important;
	    display: -ms-flexbox !important;
	    display: flex !important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .dropdown-menu {
	    position: absolute;
	}
}

.navbar {
   background: var(--white)!important;
   z-index: 3;
   padding: 0;
   border-bottom: var(--grayE1) 1px solid;
   box-shadow: -4px -6px 11px 2px #898f9545;
}
.navbar .navbar-nav > .nav-item.active > a {
    color: var(--pink);
}
.navbar .navbar-nav > .nav-item > .nav-link:hover {
    color: var(--pink);
}
.navbar .navbar-nav > .nav-item > .nav-link {
	font-size: 0.85rem;
	font-weight: 500;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--gray);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important;
}
.navbar .navbar-nav > .nav-item > .nav-link:hover:before {
    width: 100%;
}
.navbar .navbar-nav > .nav-item > .nav-link:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--pink);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* 드롭다운 */

.navbar .nickname {
	color: var(--gray);
	font-size: 0.8rem;
}
.navbar .dropdown-svg {
	margin-right: 10px;
	padding-top: 0.3rem;
}
.navbar .dropdown-svg svg{
	fill : var(--gray);
	width : 22px;
}
.navbar .navbar-divider {
    width: 0;
    border-right: 1px solid var(--gray);
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}
.navbar .badge-alert {
	font-size: 8px;
    font-weight: 500;
    height: 15px;
    background: var(--pink);
    color: var(--white);
    position: absolute;
    transform: scale(.8);
    transform-origin: top right;
    top:28%;
}
.navbar #newAlertCnt{
	right:12%;
}
.navbar #newMsgCnt {
	right: 5%;
}