@media ( min-width : 768px) .d-md-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

/* font */
@font-face {
	font-family: 'GmarketSans-bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSans-normal';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSans-light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Noto Sans KR', sans-serif;
	/* 		font-weight: 400; */
	/* 굵기 100, 300, 400, 500, 700 */
	/* 		color: #2e415d; */
	margin: 0;
}

/*root */
:root {
	--pink: #f3a6c6 !important; 
	--black: #2e2e2e !important;
	--lightGray: #e1e1e1;
	--green: #00987f !important;
	--pink30: #f3a6c645;
	--pink50: #f3a6c67a;
	--darkPink : #E69CBB;
/* 	--orange: #BF522A !important;  */
/* 	--blue: #3339A6 !important;  */
	
}

/* 색깔 */
.text-pink{color:var(--pink)}.text-black{color:var(--black)}.text-lightGray{color:var(--lightGray)}.text-green{color:var(--green)}
.bg-pink{background:var(--pink)}
/* font-weight */
.font-weight-300{font-weight:300!important}.font-weight-400{font-weight:400!important}.font-weight-500{font-weight:500!important}.font-weight-600{font-weight:600!important}.font-weight-700{font-weight:700!important}
/* font-size */
.font-size-070{font-size:.7rem!important}.font-size-075{font-size:.75rem!important}.font-size-080{font-size:.8rem!important}.font-size-085{font-size:.85rem!important}.font-size-090{font-size:.9rem}.font-size-095{font-size:.95rem!important}.font-size-105{font-size:1.05rem!important}.font-size-110{font-size:1.1rem!important}.font-size-115{font-size:1.15rem!important}.font-size-120{font-size:1.2rem!important}.font-size-125{font-size:1.25rem!important}.font-size-130{font-size:1.3rem!important}.font-size-135{font-size:1.35rem!important}.font-size-140{font-size:1.4rem!important}.font-size-145{font-size:1.45rem!important}.font-size-150{font-size:1.5rem!important}
/* 	버튼 커스텀 */
.btn-pink {
	color: var(--white) !important;
	background-color: var(--pink) !important;
	border: 1px solid var(--pink) !important;
}

.btn-pink-outline {
	color: var(--pink) !important;
	background-color: var(--white) !important;
	border: 1px solid var(--pink) !important;
}

.btn-pink:hover {
	color: var(--white) !important;
	background-color: var(--darkPink) !important;
	border: 1px solid var(--darkPink) !important;
}

.btn-pink-outline:hover {
	color: var(--white) !important;
	background-color: var(--pink) !important;
	border: 1px solid var(--pink) !important;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}

/*     입력폼 커스텀 */
.form-control:focus {
	/* 	    border-color: #F2C6C2; */
	/* 	    outline: 0; */
	/* 	    box-shadow: 0 0 0 0.2rem rgb(242 198 194 / 35%); */
	/* border: none; */
	border: 1px solid #ced4da;
	/* background-color: var(--pink); */
	outline: unset;
	box-shadow: unset;
}

/* 체크박스 */
/* This is the default state */
.custom-checkbox .custom-control-label::before {
}

/* This is the checked state */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
   border-radius: .25rem;
   background-color: var(--pink);  /* green */
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
/*     background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);  */
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
/*     color: #fff; */
    background-color: var(--pink); /* red */
}
    
/* the shadow; displayed while the element is in focus */
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
/*     border-radius: .25rem; */
    border: 1px solid var(--pink);
    box-shadow: 0 0 0 0.2rem var(--pink30); /* pink, 25% opacity */
}

/* 라디오버튼 */
/* This is the default state */
.custom-radio .custom-control-label::before {
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--pink);  /* green */
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
/*     background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);  */
    border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
/*     color: #fff; */
    background-color: var(--pink); /* red */
}
    
/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem var(--pink30); /* pink, 25% opacity */
}

/* 	푸터 */
.footer {
	background-color: var(--pink);
	font-size: 12px;
	color: var(--white);
}

/* 	카드 컨테이너 */
.container-fluid.card_wrap {
	background: var(--white);
	padding: 2rem 5rem !important;
}

.card_wrap .card {
	margin-left: 1.3rem !important;
	border-radius: .3rem !important;
	border: none !important;
	padding: 0 !important;
}

/* 	p태그 마진 리셋 */
p {
	margin-bottom: 0;
}

.cursor-pointer {
	cursor:pointer;
}

/* pagination */
 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .pagination {
     display: flex;
     padding-left: 0;
     list-style: none;
     border-radius: 0.25rem
 }

 .pagination.pagination-rounded-flat .page-item {
     margin: 0 .1rem
 }

 .pagination-success .page-item.active .page-link {
     background: var(--pink);
     border-color: var(--pink);
 }

 .pagination.pagination-rounded-flat .page-item .page-link {
     border: none;
     border-radius: 50px;
 }
 
 a.page-link:focus {
   	box-shadow: none !important;
   	 background: var(--pink);
     border-color: var(--pink);
     color:var(--white);
}

a.page-link:focus > span{
	color:var(--white);
}

a.page-link {
    color: var(--black);
    font-weight: 500;
}

a.page-link > span {
	color: var(--black);
}

a.page-link:hover {
    z-index: 2;
    color: var(--white);
    text-decoration: none;
    background-color: var(--pink);
    border-color: var(--pink);
}

a.page-link:hover > span {
	color:var(--white);
}


.find_wrap, .relogin_find_wrap {
	padding: 24px 0 40px;
	text-align: center;
}

.find_wrap li, .relogin_find_wrap li {
	position: relative;
	display: inline-block;
}

.find_wrap .en_find_text, .find_wrap .find_text, .relogin_find_wrap .en_find_text,
	.relogin_find_wrap .find_text {
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	color: var(--gray);
}

.find_wrap li+li, .relogin_find_wrap li+li {
	padding-left: 28px;
}

.find_wrap li+li::before, .relogin_find_wrap li+li::before {
	content: '';
	position: absolute;
	top: 7px;
	left: 12px;
	width: 1px;
	height: 13px;
	border-radius: .5px;
	background-color: var(--gray);
}