<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yj.yeogiya.test">
	<insert id="insert" parameterType="TestVo">
		<selectKey keyProperty="test_no" resultType="int" order="BEFORE">
 			SELECT seq_test_no.NEXTVAL FROM dual
 		</selectKey>
		insert into test 
		values 
			(#{content}, #{test_no})
	</insert>
	<insert id="insertImg" parameterType="list">
		INSERT INTO test_img
		SELECT SEQ_test_img_no.NEXTVAL, A.* FROM (
			
			<foreach collection="list" item="item" separator="UNION ALL">
				SELECT #{item.img_path} FILE_PATH,
							 #{item.test_no} test_no
				FROM DUAL
			</foreach>
			)A
	</insert>
	
	<select id="select" resultType="TestVo">
		select * from test 
		where test_no = #{test_no} 
	</select>
	<select id="selectImg" resultType="TestImg">
		select * from test_img 
		where test_no = #{test_no} 
	</select>

</mapper>