.ftco-navbar-light {
   background: #F2C6C2!important;
   z-index: 3;
   padding: 0;
}
@media (min-width: 992px)
.navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

@media (min-width: 992px)
.navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #3339A6;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #3339A6;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
	font-size: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important;
}

.dropup, .dropright, .dropdown, .dropleft {
    position: relative;
}

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgb(0 0 0 / 41%);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgb(0 0 0 / 41%);
    border-radius: 4px;
}
@media (min-width: 992px)
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
/* *, *::before, *::after { */
/*     /* -webkit-box-sizing: border-box; */ */
/*     box-sizing: border-box; */
/* } */

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: none;
}
/* a { */
/*     -webkit-transition: .3s all ease; */
/*     -o-transition: .3s all ease; */
/*     transition: .3s all ease; */
/*     color: #3339A6; */
/* } */
/* a { */
/*     color: #007bff; */
/*     text-decoration: none; */
/*     background-color: transparent; */
/* } */

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
    width: 100%;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3339A6;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #000;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
    background: #3339A6;
    color: #fff;
}
.dropdown-menu-right {
	left: auto !important;
    right: 0 !important;
	}
