<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<package name="com.yj.yeogiya.test.model.vo"/>
		<package name="com.yj.yeogiya.board.model.vo"/>
		<package name="com.yj.yeogiya.customer.model.vo"/>
		<package name="com.yj.yeogiya.member.model.vo"/>
		<package name="com.yj.yeogiya.manager.model.vo"/>
	</typeAliases>
</configuration>